<H1>Jeff Jojer Jones E. Catulay</H1>
BSCS 3B

<h4>Import necessary libraries</h4>

In [1]:
# import library
# pip install pandas
# pip install numpy
import pandas as pd, numpy as np

<h4>Import dataset</h4>

In [2]:
# display specific excel and sheet name
dataset = pd.read_excel('assignment-data.xlsx', sheet_name='online-retail')
dataset = dataset.head(200)
dataset

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
195,536388,22469,HEART OF WICKER SMALL,12,2010-12-01 09:59:00,1.65,16250.0,United Kingdom
196,536388,22242,5 HOOK HANGER MAGIC TOADSTOOL,12,2010-12-01 09:59:00,1.65,16250.0,United Kingdom
197,536389,22941,CHRISTMAS LIGHTS 10 REINDEER,6,2010-12-01 10:03:00,8.50,12431.0,Australia
198,536389,21622,VINTAGE UNION JACK CUSHION COVER,8,2010-12-01 10:03:00,4.95,12431.0,Australia
199,536389,21791,VINTAGE HEADS AND TAILS CARD GAME,12,2010-12-01 10:03:00,1.25,12431.0,Australia

<h2>Question 3:</h2>
Data for this question can be found in "online-retail" sheet from assignment-data.xlsx. Since it is a big data, load first 200 rows and keep it in the data frame called "dataset". This “dataset” is used for all tasks in this question

Assume that you are a data scientist in Amazon. Since the company is celebrating Silver Jubilee this year, it has decided to reward their customers. Your Manager handed over last 2 years retail data and asked you to do certain tasks. The tasks are as follows:

<h3>Tasks:</h3>
<h4>Task-1: </h4>
When you started working with data, you’ve realized that it needs cleaning to produce better results. 
Do essential data cleaning. The final output should be the one as follows

<h4>Option 1</h4>

In [3]:
# function to check before cleaning
def before_cleaning(column_name):
    return (dataset[column_name] < 0).any()

# function to check after cleaning
def after_cleaning(column_invoice, column_quantity):
    cancelled_orders = dataset[dataset[column_invoice].astype(str).str.contains('C')]
    return cancelled_orders[cancelled_orders[column_quantity]>0].any().any()

# display
print("before cleaning: any negatives?:", before_cleaning("Quantity"))
print("after cleaning: any negatives?:", after_cleaning("InvoiceNo", "Quantity"))

before cleaning: any negatives?: True
after cleaning: any negatives?: False

<h4>Task-2: </h4>
Amazon wants to reward the customer who has done the most number of transactions, by providing a gift hamper worth 1000 pesos. 
 Find out the customer who has done the most number of transactions [Note: One invoice number corresponds to one transaction]. The output should the one as below:

<h4>Option 2</h4>

In [4]:
# get the int value of customer id
custID = round(dataset['CustomerID'].value_counts().idxmax())
# query the id to find transaction
transactions = dataset.query(f'CustomerID == {custID}').CustomerID.count()
# display
print(f"Hurray! The most number of transactions is done by Customer ID: {custID}. He has made {transactions} transactions.\nHe will be rewarded with our gift hamper worth 1000 pesos")

Hurray! The most number of transactions is done by Customer ID: 17850. He has made 45 transactions.
He will be rewarded with our gift hamper worth 1000 pesos

<h4>Task-3: </h4>
Amazon wants to find the best customer and likes to reward 50% discount on his next purchase. Find the Customer with the highest amount of total purchase amount. The output should the one as below:

<h4>Option 1</h4>

In [5]:
# get the total purchase
dataset['Total Purchase'] = dataset['Quantity'] * dataset['UnitPrice']
# sum the groups, then arrange
mostpurchase = dataset.groupby('CustomerID').sum().sort_values('Total Purchase', ascending=False).reset_index()
# display
print(f'Customer ID:{int(mostpurchase.iat[0,0])} is the best customer since he has spend a lot on our Business.\nHis total purchase amount is {int(mostpurchase.iat[0,3])} pesos. 50% discount will be given on his next purchase.')

Customer ID:16029 is the best customer since he has spend a lot on our Business.
His total purchase amount is 3702 pesos. 50% discount will be given on his next purchase.

<h4>Task-4: </h4>
Amazon wants to find out the most and the least bought items. It likes to increase the sale of least bought item by bundling it with the most bought item and ready to give special 10% discount for this bundle. The output should be the one as below.

<h4>Option 1</h4>

In [6]:
# sum the groups, then arrange
count_item=dataset.groupby('StockCode').sum().sort_values('Quantity', ascending=False).reset_index()
# display
print(f'''Most bought item is StockCode {count_item.iat[0,0]} with {count_item.iat[0,1]} in purchased quantity.
Least bought item is StockCode {count_item.iat[143,0]} with {count_item.iat[143,1]} in purchased quantity overall.
These two items can be bundles and provide 10% discount on this bundle to increase the sale of StockCode {count_item.iat[143,0]}''')

Most bought item is StockCode 21731 with 458 in purchased quantity.
Least bought item is StockCode 21166 with 1 in purchased quantity overall.
These two items can be bundles and provide 10% discount on this bundle to increase the sale of StockCode 21166

<h4>Task-5: </h4>
Company likes to find out overall average purchase-amount among all transactions [ one transaction indicates one invoice number]. The expected output is as follows:

<h4>Option 1</h4>

In [7]:
total = dataset['Total Purchase'].abs().sum()
ave = total / (len(dataset))
print(f"Average purchase amount among all transaction = %.2f" % ave)

Average purchase amount among all transaction = 44.39